$up-white-text: #ffffff;
$up-white-background: #ffffff;
$background-header: #c4c4c4;
$background-footer: #2f303a;
$line-header: #ececec;
$line-card: #eeeeee;
$second-background: #f5f4fa;
$activ: #2196f3;
$logo-text: #000000;
$color-title: #212121;
$color-text: #757575;
$color-vector: #afb1b8;
$contact-footer: #ffffff99;
$activ-button: #188ce8;
$card-set-gap: 30px;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;